.country{
     border: 3px solid maroon;
     background-color: cadetblue;
     padding: 5px;
     margin: 10px;
     border-radius: 8px;
     display: flex;
     justify-content: space-between;
}
.country img{
     width: 240px;
     height: 160px;
}